/*
    GENERAL - BODY and FONTS
    - nastavenie pozadia, zarovnanie a rozmery tela
*/

@font-face {
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-weight: bold;
    src: url(/fonts/outfit/static/Outfit-Black.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-style: bold;
    font-weight: 900;
    src: url(/fonts/outfit/static/Outfit-ExtraBold.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-style: italic;
    font-weight: 100;
    src: url(/fonts/outfit/static/Outfit-ExtraLight.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/outfit/static/Outfit-Light.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/outfit/static/Outfit-Medium.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-style: italic;
    font-weight: 600;
    src: url(/fonts/outfit/static/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-style: italic;
    font-weight: 200;
    src: url(/fonts/outfit/static/Outfit-Thin.ttf);
}

body {
    background: #F3E5D8; /* svetlé pozadie */
    display: flex; /* použitie flexboxu pre zarovnanie obsahu */
    flex-direction: column; /* usporiadanie obsahu vertikálne */
    justify-content: center; /* zarovnanie obsahu na stred vertikálne */
    align-items: center; /* zarovnanie obsahu na stred horizontálne */
    height: 100vh; /* výška tela na 100% viewportu */
    margin: 0; /* odstránenie predvolených okrajov */

    padding: 20rem 0; /* vnútorné odsadenie */
}

/*
    CONTAINER
    - nastavenie kontajnera pre obsah stránky
    - šírka, výška, zarovnanie a pozadie
*/

.container {
    width: 600px;  /* alebo 90%, 800px atď. */
    margin: 0 auto; /* zarovnanie kontajnera na stred */
    background: #FFF7FC;

    padding: 20px; /* vnútorné odsadenie */
    border-radius: 20px; /* zaoblené rohy */
        border: 2px solid black; /* čierny okraj okolo tela */

}

/*
   CONTAINER HEADER - IMAGE
    - nastavenie obrázka v hlavičke kontajnera
*/

.container img {
    max-width: 100%; /* zabezpečí, že obrázok sa prispôsobí šírke kontajnera */
    height: auto; /* zachová pomer strán obrázka */
    display: block; /* odstráni medzery pod obrázkom */

    border-radius: 20px; /* zaoblené rohy obrázka */
}

/*
    CONTAINER HEADER - TEXT
    - nastavenie nadpisu v hlavičke kontajnera
    - veľkosť písma, farba a zarovnanie
*/

.container h1 {
    font-size: 40px;
    color: #2A2A27;
    text-align: left;
    margin: 20px 0;

    font-family: 'YoungSerif', sans-serif;
    font-weight: 600; /* tu môžete nastaviť požadovanú hrúbku písma */
}

/*
    CONTAINER HEADER - DESCRIPTION
    - nastavenie popisu v hlavičke kontajnera
    - veľkosť písma, farba a zarovnanie
*/

.container p {
    font-family: 'YoungSerif', sans-serif;
    font-weight: normal;
    color: #727271;
}

.preparation {
    padding-left: 25px;
    font-family: 'Outfit', sans-serif; /* použitie písma Outfit pre prípravu */
}

.preparation-time {
    font-family: 'YoungSerif', sans-serif; /* použitie písma Young Serif pre čas prípravy */
}

.preparation-time li,
.ingredients li, 
.instructions li {
    padding-left: 25px; /* odsadenie pre zoznam */
    margin-bottom: 5px; /* medzera medzi položkami */
}

/*
    INGREDIENTS + INSTRUCTIONS + NUTRITION
    - nastavenie sekcií s ingredienciami a inštrukciami + tabuľka s nutričnými hodnotami
    - veľkosť písma, farba a zarovnanie
*/

.instructions, .ingredients, .nutrition {
    margin: 50px 0; /* medzera medzi sekciami */
}

.ingredients h2, 
.instructions h2, 
.nutrition h2 {
    font-family: 'Outfit', sans-serif; /* použitie písma Young Serif pre ingrediencie */
    color: #84493F; /* farba nadpisu */
}

.ingredients ul, 
.instructions ol, 
.nutrition table {
    font-family: 'YoungSerif', sans-serif; /* použitie písma Young Serif pre zoznamy */
}

.ingredients ul li, 
.instructions ol li {
    color: #585856; /* farba položiek v zozname */
}

/*
    NUTRITION TABLE
    - nastavenie tabuľky s nutričnými hodnotami
*/

.nutrition table {
    border-collapse: collapse; /* zrušenie medzier medzi bunkami tabuľky. Používa sa pri celej tabuľke, nie pri jednotlivých bunkách */
    width: 100%; /* šírka tabuľky na 100% kontajnera */
    padding: 10px 30px;
    box-sizing: border-box; /* zabezpečí, že padding sa započíta do šírky a výšky tabuľky */
    color: #4A4947; /* farba textu v tabuľke */
}

.nutrition table tr td, 
.nutrition table tr td strong{
    border-bottom: 2px solid #E1E1E1; /* spodný okraj pre riadky tabuľky */
    padding: 5px 50px;
}

.nutrition table tr td strong {
    float: left; /* zarovnanie textu v bunke na ľavú stranu */
    border-bottom: none;
    color: #654036; /* farba textu v bunke */
}